//* Alert *//

.addtaskdialog-alert {
  --background: #000000;
}

//* Dialog window *//

/* General Design */

#addtaskdialog-dialog {
  backdrop-filter: blur(10px);
}

.addtaskdialog-dialog-wrapper {
}

.addtaskdialog-dialog-input-text {
  color: #ffffff;
  display: inline;
  font-weight: 600;
  font-size: 11px;
  padding-left: 10px;
}

.addtaskdialog-dialog-input-text-default {
  color: #696e7f;
  display: inline;
  font-weight: 600;
  font-size: 11px;
  padding-left: 10px;
}

/* Add Task input section */

.addtaskdialog-dialog-addtask-input {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #696e7f;
  display: flex;
  align-items: center;
}

/* Select Date input section */
.addtaskdialog-dialog-selectdate-input {
  display: inline-flex;
  align-items: center;
  width: 45%;
  margin: 25px 5% 25px 0px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #696e7f;
}

/* Select Group input section */
.addtaskdialog-dialog-selectProject-input {
  display: inline-flex;
  align-items: center;
  width: 45%;
  margin: 25px 0px 25px 5%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #696e7f;
}



/* Solar Select */

.addtaskdialog-dialog-solarSelect {
  width: 100%;
  text-align: center;
}

.addtaskdialog-dialog-solarSelect-icons {
  padding: 0px 15px 25px 15px;
}

/* Dialog Buttons (Add Task, Cancel */

.addtaskdialog-dialog-add-button {
  --background: #00ffe2;
  --background-activated: #696e7f;
  --color: #1e2662;
  --border-radius: 4px;
  font-size: 12px;
  width: 35vw;
  height: 40px;
  font-weight: 700;
}

.addtaskdialog-dialog-cancel-button {
  --background: rgba(0, 0, 0, 0);
  --background-activated: #696e7f;
  --color: #00ffe2;
  --border-radius: 4px;
  font-size: 12px;
  width: 35vw;
  height: 40px;
  font-weight: 700;
}


.addtaskdialog-error {
  font-size: 12px;
  font-weight: 500;
  color: #ff4141;
}

.addtaskdialog-noerror {
  display: none;
}