.pos-timer {
    text-align: center;
    top: 180px;
}

ion-input {
    text-align: center;
    top: 160px;
    color: white;
    font-size: large;
}

.move-right {
    color: white;
    text-align: right;
    font-size: medium;
}

.move-left {
    color: white;
    text-align: left;
    font-size: large;
}

.rounded {
    text-align: center;
    top: 1000px;
}