.deepfocus-pos-timer {
    text-align: center;
    top: 50px;
    --background: #00ffe2;
    --border-radius: 47%;
    --border-width: 20%;
}

.deepfocus-but-left {
    text-align: left;
    --background: #ffffff;
    --border-radius: 45%;
}

.deepfocus-background {
    --background: url("../background/deepfocus.jpg") 50% no-repeat;
}

.deepfocus-break {
    text-align: center;
    font-weight: lighter;
    font-size: small;
    top: 40px;
}

ion-input {
    text-align: center;
    top: 65px;
    color: white;
    font-size: 60px;
    font-weight: bold;
    font-family: monse;
}

.deepfocus-move-right {
    text-align: right;
    font-size: 23pt;
    font-family: Monserrat;
}

.deepfocus-move-session-left {
    --background: Transparent;
    text-align: left;
    font-size: large;
}

.deepfocus-move-session-right {
    --background: Transparent;
    text-align: right;
    font-size: large;
}

.deepfocus-move-left {
    //   --background: #ffffff;
    text-align: left;
    font-size: 23pt;
    font-family: Monserrat;
}

.deepfocus-rounded {
    text-align: center;
    border-radius: 100px;
    top: 10px;
    font-family: Monserrat;
}

.deepfocus-pose {
    top: 50px;
    text-align: center;
    font-size: small;
    font-family: Monserrat;
}

.deepfocus-progress {
    text-align: center;
    top: 50px;
    height: 20px;
    --background: rgba(0, 0, 0, 0);
    // --progress-background: Transparent;
}

.deepfocus-fonts {
    text-align: center;
    font-family: Monserrat;
    font-size: 8pt;
    color: lightgray;
}

@font-face {
    font-family: "Monserrat";
    src: url("../assets/fonts/Montserrat-Bold.ttf");
}

.tryout {
    font-family: Monserrat;
    font-size: small;
}

.deepfocus-nav {
    margin: 30px 25px 0px 25px;
}

.deepfocus-nav-col {
    text-align: center;
    font-size: 12px;
    --ion-grid-column-padding: 0px;
}

.deepfocus-tab-text-selected {
    color: #00ffe2;
    margin: 0px;
    font-weight: 700;
}

.ttt {
    // width: 100%;
    // height: 15px;
    top: 50px;
    //   background-color: lightgreen;
}

.tres {
    top: 60px;
}

.deepfocus-tab-underline {
    width: 100%;
    height: 3px;
    background-color: #696e7f;
    margin-top: 10px;
}

.deepfocus-tab-underline-selected {
    width: 100%;
    height: 3px;
    background-color: #00ffe2;
    margin-top: 10px;
}

.deepfocus-tab-under {
    width: 100%;
    height: 5px;
    background-color: #6551bc;
    margin-top: 10px;
}

.deepfocus-progress-div {
    top: 110px;
    --ion-grid-column-padding: 0px;
    // margin-left: 20px;
}

.deepfocus-tab-under-two {
    width: 100%;
    height: 5px;
    background-color: #ffffff;
    // margin-top: 10px;
}

.deepfocus-progress-div-two {
    top: 120px;
    --ion-grid-column-padding: 0px;
}

:root {
    --farbe: white;
    --andere: blue;
    --pos: 0%;
}

.deepfocus-ball {
    width: 5%;
    height: 15px;
    top: 98px;
    background-color: var(--farbe);
    position: relative;
    left: var(--pos);
}