.todosolar-icon-star {
  display: inline-block;
  transform: translateY(4px);
  padding: 0px 10px;
}
.todosolar-icon-moon {
  display: inline-block;
  transform: translateY(8px);
  padding: 0px 10px;
}
.todosolar-icon-planet {
  display: inline-block;
  transform: translateY(5px);
  padding: 0px 10px;
}
